.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(214, 181, 139);
}

.logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
  border-radius: 5   6px;
  padding: 10px 10px;
}

.nav-items {
  padding: 10px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  font-size: 22px;
  padding: 10px;
  margin: 10px;
}


.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 250px;
    background-color: rgb(233, 193, 108);
    margin: 8px;
    padding: 10px;
}

.res-logo {
    padding: 10px;
    border-radius: 5px;
}

.res-logo-image{
    width: 100%;
    border-radius: 4px;
}

.search {
    padding: 20px;
    
}

.shimmer_container {
  display:flex ;
  flex-wrap: wrap;
}

.shimmer_card {
 width: 250px;
 height: 450px;
 margin: 20px;
 background-color: #c0c0c0;

}

.log_button {
  padding: 0 20px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  align-items: center;
}

.filter_btn {
  font-size: 10;
  cursor: pointer;
  height: 25px;
}
